*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
}

html, body {
  height: 100%;
  width: 100%;
  font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  color: rgb(0, 255, 0);
  text-align: center;
  padding-top: 25%;
  font-weight: 100;
  font-size: 100px;
}

p {
  color: white;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 200;
}