* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  cursor: none;
}

#myVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.pointer {
  background-image: url("https://wallpapers.com/images/hd/captain-america-shield-iconic-symbol-lpleoezti11ayrgo.jpg");
  background-size: cover;
  height: 100px;
  width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  pointer-events: none; 
}
