*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

.card{
display: flex;
box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.06),   /* outer shadow */
    0 0 0 1px rgba(0, 0, 0, 0.05);   /* soft border line */
padding: 20px;
border-radius: 20px;
width: 270px;
gap: 20px;
margin: 20px;
background-color: whitesmoke;
}

img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.name{
  font-size: 20px;
  font-weight: 700;
}

.profession{
  font-size: 16px;
  color: gray;
}

