.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 5rem;
    margin-top: 50px;
    font-weight: 300;
}

.desc{
    font-size: 1rem;
    margin-top: 20px;
    font-weight: 200;
    text-align: center;
    max-width: 600px;
}

.buttons{
    margin-top: 20px;
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    background-color: black;
    border-radius: 20px;
}

